$bgCajas: white;
$bgCajasImpar: rgb(233, 248, 232);
$orange:  #e47317;
$bgGrad: linear-gradient(to top, rgb(18, 39, 18), rgb(97, 97, 12), rgb(83, 150, 103),rgb(97, 97, 12), rgb(18, 39, 18));
$bgLink: rgb(140, 143, 142);
$letraClara: white;
$letraOscura: black;
$link: red;
$linkHover: blue;